@import url('./reset.css');
@import "flatpickr/dist/flatpickr.min.css";
h1 {
    display: block;
    text-align: center;
    margin: 20px auto 40px;
    font-size: 30px;
    font-weight: 400;
}
body {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    color: #2E2F42;
    padding: 0 50px;
    height: 100vh;
}
.timer {
    display: flex;
    gap: 24px;
    width: 350px;
    padding: 0;
}
.timer .field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.field .value {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;    
}
.field .label {
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
}
#datetime-picker {
    width: 230px;
    height: 36px;
    margin-right: 5px;
    border: 1px solid #808080;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
}
#datetime-picker:hover {
    border-color: #2E2F42;
}
#datetime-picker:active {
    color: #000000;
    border-color: #4E75FF;
}
#datetime-picker:disabled {
    border-color: #808080;
    color: #808080;
}
 button {
    height: 40px;
    width: 75px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #4E75FF;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
}
button:hover {
    background-color: #6C8CFF;
}
button:disabled {
    background-color: #CFCFCF;
    color: #989898;
}
svg {
    fill: #fff;
    stroke: #EF4040;
}